<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>

    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
    <div id="app">
        <!-- 텍스트와 데이터 바인딩 -->
        <p>Hello {{message}}</p>

        <!-- 객체와 배열 내부의 요소 출력하기 -->
        <p>{{message2.value}}</p>
        <p>{{message2.value.length}}</p>
        <p>{{list[2]}}</p>
        <p>{{list[num]}}</p>

        <!-- 조건을 기반으로 출력할 텍스트 변경하기 -->
        <p>{{message2.length >= 10? "10글자 이상":"10글자 미만"}}</p>

        <!-- 속성 데이터 바인딩하기 -->
        <input type="text" v-bind:value="message">
        <!-- "v-bind:" 는 ":"로 작성 가능 -->

        <!-- DOM의 textContent 속성에 바인딩하기 -->
        <div :text-content.prop="message"></div>

        <!-- 클릭으로 카운터 수 늘리기 -->
        <p>{{count}}번 클릭하였습니다.</p>
        <!-- 아래 버튼 클릭 시 increment 메서드가 호출, @ = v-on -->
        <button @click="increment">카운트 하기</button>

        <!-- 클래스와 스타일 데이터 바인딩 -->
        <p :class="{child:isChild, 'is-active':isActive}">Text</p>
        <p :style="{color:textColor, backgroundColor:bgColor}">Text</p>

        <!-- 데이터 바인딩을 하지 않은 플레인 속성과 함께 사용하는 경우 -->
        <p class="child" :class="{'is-child':isActive}">Text</p>
        <p style="color:#0000ff" :style="{color:textColor}">Text</p>

        <!-- 객체 데이터 전달하기 : 코드의 가독성을 높이기 위함 -->        
        <p :class="classObject">classObject</p>
        <p :style="styleObject">StyleObject</p>

        <!-- SVG 데이터 바인딩하기 -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <circle cx="100" cy="75" :r="radius" fill="lightpink"/>
        </svg>
        <input type="range" min="0" max="100" v-model="radius">

        <!-- 템플릿에서 조건 분기하기 -->
        <div v-if="ok">v-if조건으로 출력하기</div>
        <div v-show="ok">v-show조건으로 출력하기</div>

        <!-- template 태그를 사용한 v-if 그룹 : v-if는 단일 요소에 사용해야 하지만 여러 요소에 같은 조건을 부여하는 것은 의미가 없는 관계로 template 태그 사용, v-show 불가 -->
        <template v-if="ok">
            <header>타이틀</header>
            <div>콘텐츠</div>
        </template>

        <!-- v-else-if와 v-else로 그룹 만들기 -->
        <div v-if="type ==='A'">type는 A</div>
        <div v-else-if="type ==='B'">type는 B</div>
        <div v-else>모든 조건 불만족 시</div>

        <!-- 요소를 반복해서 렌더링하기, 리스트에 요소 추가하기 -->
        이름 <input v-model="name">
        <button @click="doAdd">리스트 요소 추가하기</button>
        <ul>
            <!-- 반복 렌더링하면서 다양한 조건 적용하기 -->
            <li v-for="(item, index) in list2" :key="item.id" v-if="item.hp" :class="{strong:item.hp > 300}"> 
                <!-- 리스트를 변경할 때 요소의 식별과 효율적인 렌더링 처리를 위해서는 요소에 유니크한 key 속성을 설정하는 것이 권장 -->
                <!-- 컴포넌트를 이용한 렌더링 또는 트랜지션을 할 때는 key 속성이 필수 -->
                ID.{{item.id}} {{item.name}} HP.{{item.hp}}
                <!-- 조건을 사용해서 클래스 조작 : hp 300 초과인 li에 .strong 부여 -->
                <span v-if="item.hp>300" :style="{color:textColor}">li에 .strong 부여</span>
                <!-- 삭제버튼 -->
                <button @click="doRemove(index)">제거하기</button>
                <!-- 버튼 누를 때마다 hp 10 하락 -->
                <button @click="doAttack(index)">hp 10 하락</button>
            </li>
        </ul>
        
        
    </div>    
    <script src="js/main.js"></script>
</body>
</html>