<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>

    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
    <h1 class="bTit">컴포넌트로 UI 부품 만들기</h1>
    <div id="app">
        <h2 class="sTit">컴포넌트 정의 방법</h2>
        <my-component></my-component>
        <hr class="line">

        <h2 class="sTit">컴포넌트끼리 통신</h2>
        <h3 class="ssTit">부모 자식 컴포넌트</h3>
        <comp-child val="자식A"></comp-child>
        <comp-child val="자식B"></comp-child>
        <div class="gap"></div>

        <h3 class="ssTit">컴포넌트에 속성 부여</h3>
        <par-child></par-child>
        <div class="gap"></div>

        <h3 class="ssTit">컴포넌트를 리스트 렌더링</h3>
        <ul>
            <list-child v-for="item in list" :key="item.id" :name="item.name" :hp="item.hp"></list-child>
        </ul>
        <div class="gap"></div>

        <h3 class="ssTit">자식 이벤트를 부모에서 잡기</h3>
        <div>
            <child-event @childs-event="parentsMethod"></child-event>
        </div>
        <div class="gap"></div>

        <h3 class="ssTit">부모가 가진 데이터 조작</h3>
        <ul>
            <par-control v-for="item in list" :key="item.id" v-bind="item" @attack="handleAttack"></par-control>
        </ul>
        <hr class="line">

        <h2 class="sTit">컴포넌트의 양방향 데이터 바인딩</h2>
        <!-- <h3 class="ssTit">컴포넌트의 v-model</h3>
        <my-calendar :value="date" @input="date=$event"></my-calendar>
        <div class="gap"></div> -->

        <h3 class="ssTit">.sync로 양방향 데이터 바인딩</h3>
        <sync-component :name.sync="name" :hp.sync="hp">
        </sync-component>
        <hr class="line">

        <h2 class="sTit">템플릿 정의 방법</h2>        
        <hr class="line">

        <h2 class="sTit"></h2>        
        <hr class="line">

        <h2 class="sTit"></h2>        
        <hr class="line">

        <h2 class="sTit"></h2>        
        <hr class="line">
        
    </div>
    <script src="js/main.js"></script>
</body>
</html>